/* https://github.com/PrismJS/prism-themes/blob/master/themes/prism-vsc-dark-plus.css */

pre[data-lang],
pre[class*="lang-"],
code[class*="lang-"] {
	color: #d4d4d4;
	font-size: 13px;
	text-shadow: none;
	font-family: Menlo, Monaco, Consolas, "Andale Mono", "Ubuntu Mono", "Courier New", monospace;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	line-height: 1.5;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre[data-lang]::selection,
pre[class*="lang-"]::selection,
code[class*="lang-"]::selection,
pre[data-lang] *::selection,
pre[class*="lang-"] *::selection,
code[class*="lang-"] *::selection {
	text-shadow: none;
	background: #264F78;
}

@media print {
	pre[data-lang],
	pre[class*="lang-"],
	code[class*="lang-"] {
		text-shadow: none;
	}
}

pre[data-lang],
pre[class*="lang-"] {
	padding: 1em !important;
	margin: 1.2em 0;
	overflow: auto;
	background: #1e1e1e;
}

pre[data-lang] > code[class*="lang-"],
pre[class*="lang-"] > code[class*="lang-"] {
	background: #1e1e1e !important;
}

pre[data-lang] > code[class*="lang-"],
pre[class*="lang-"] > code[class*="lang-"],
pre[data-lang] > code[class*="lang-"] *,
pre[class*="lang-"] > code[class*="lang-"] * {
	font-weight: normal !important;
}

:not(pre) > code[class*="lang-"] {
	padding: .1em .3em;
	border-radius: .3em;
	color: #db4c69;
	background: #1e1e1e !important;
}
/*********************************************************
* Tokens
*/
.namespace {
	opacity: .7 !important;
}

.token.doctype .token.doctype-tag {
	color: #569CD6 !important;
}

.token.doctype .token.name {
	color: #9cdcfe !important;
}

.token.comment,
.token.prolog {
	color: #6a9955 !important;
}

.token.punctuation,
.lang-html .lang-css .token.punctuation,
.lang-html .lang-javascript .token.punctuation,
.lang-html .lang-js .token.punctuation {
	color: #d4d4d4 !important;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.inserted,
.token.unit {
	color: #b5cea8 !important;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.deleted {
	color: #ce9178 !important;
}

.lang-css .token.string.url {
	text-decoration: underline !important;
}

.token.operator,
.token.entity {
	color: #d4d4d4 !important;
}

.token.operator.arrow {
	color: #569CD6 !important;
}

.token.atrule {
	color: #ce9178 !important;
}

.token.atrule .token.rule {
	color: #c586c0 !important;
}

.token.atrule .token.url {
	color: #9cdcfe !important;
}

.token.atrule .token.url .token.function {
	color: #dcdcaa !important;
}

.token.atrule .token.url .token.punctuation {
	color: #d4d4d4 !important;
}

.token.keyword {
	color: #569CD6 !important;
}

.token.keyword.module,
.token.keyword.control-flow {
	color: #c586c0 !important;
}

.token.function,
.token.function .token.maybe-class-name {
	color: #dcdcaa !important;
}

.token.regex {
	color: #d16969 !important;
}

.token.important {
	color: #569cd6 !important;
}

.token.italic {
	font-style: italic !important;
}

.token.constant {
	color: #9cdcfe !important;
}

.token.class-name,
.token.maybe-class-name {
	color: #4ec9b0 !important;
}

.token.console {
	color: #9cdcfe !important;
}

.token.parameter {
	color: #9cdcfe !important;
}

.token.interpolation {
	color: #9cdcfe !important;
}

.token.punctuation.interpolation-punctuation {
	color: #569cd6 !important;
}

.token.boolean {
	color: #569cd6 !important;
}

.token.property,
.token.variable,
.token.imports .token.maybe-class-name,
.token.exports .token.maybe-class-name {
	color: #9cdcfe !important;
}

.token.selector {
	color: #d7ba7d !important;
}

.token.escape {
	color: #d7ba7d !important;
}

.token.tag {
	color: #569cd6 !important;
}

.token.tag .token.punctuation {
	color: #808080 !important;
}

.token.cdata {
	color: #808080 !important;
}

.token.attr-name {
	color: #9cdcfe !important;
}

.token.attr-value,
.token.attr-value .token.punctuation {
	color: #ce9178 !important;
}

.token.attr-value .token.punctuation.attr-equals {
	color: #d4d4d4 !important;
}

.token.entity {
	color: #569cd6 !important;
}

.token.namespace {
	color: #4ec9b0 !important;
}
/*********************************************************
* Language Specific
*/

pre[data-lang="javascript"],
pre[class*="lang-javascript"],
code[class*="lang-javascript"],
pre[data-lang="js"],
pre[class*="lang-js"],
code[class*="lang-js"],
pre[data-lang="jsx"],
pre[class*="lang-jsx"],
code[class*="lang-jsx"],
pre[data-lang="typescript"],
pre[class*="lang-typescript"],
code[class*="lang-typescript"],
pre[data-lang="ts"],
pre[class*="lang-ts"],
code[class*="lang-ts"],
pre[data-lang="tsx"],
pre[class*="lang-tsx"],
code[class*="lang-tsx"] {
	color: #9cdcfe !important;
}

pre[data-lang="css"],
pre[class*="lang-css"],
code[class*="lang-css"] {
	color: #ce9178 !important;
}

pre[data-lang="html"],
pre[class*="lang-html"],
code[class*="lang-html"] {
	color: #d4d4d4 !important;
}

.lang-regex .token.anchor {
	color: #dcdcaa !important;
}

.lang-html .token.punctuation {
	color: #808080 !important;
}
/*********************************************************
* Line highlighting
*/
pre[data-lang] > code[class*="lang-"],
pre[class*="lang-"] > code[class*="lang-"] {
	position: relative;
	z-index: 1;
}

.line-highlight.line-highlight {
	background: #f7ebc6 !important;
	box-shadow: inset 5px 0 0 #f7d87c !important;
	z-index: 0;
}
